<!DOCTYPE html>
<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    	<!-- iOS meta tags -->
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet">    
        <link rel='stylesheet' type='text/css' href='https://code.getmdl.io/1.1.1/material.blue-red.min.css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src='https://code.getmdl.io/1.1.1/material.min.js'></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js'></script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="{{ url_for('static', filename='js/tipsy.js') }}"></script>
</head>


<style>

body {
  padding:15px;
  max-height: 900px;
  font-family: 'Roboto', sans-serif;
}

#fade {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    -moz-opacity: 0.9;
    opacity: 0.75;
    filter: alpha(opacity=90);
}

.concept_label {
  width:200px;
  height:20px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.concept_button {
  font-size: 10px;
  padding: 2px;
  margin:2px;
}

#concept_column {
  position: absolute;
  bottom:100px;
  z-index:3;
}

#viewer {
  position: fixed;
  bottom:0px;
  right:0px;
  width:100px;
  height:100px;
  max-height:100px;
  max-width:100px;
}

.contrast-card-image.mdl-card {
  width: 500px;
  height: 300px;
}
.contrast-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
}
.contrast-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

label {
    font: 12px sans-serif;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke-width: 1.5px;
}

</style>
<body>
<h3 style="padding-left:15px">Cognitive Concept Association with Region {{region_name}}</h3>

<div id="voxel" class="visual"></div>

<!-- Menu in top right -->
<div class="mdl-card__menu">

         <!-- Image options -->
         <div class="mdl-card__actions">

             <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-ripple-effect" id="save_as_svg" value="" onclick="save_svg()"><i class="material-icons">save</i></button>
             <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-ripple-effect" id="show_concept_panel" value="" onclick="show_concept_panel()"><i class="material-icons">find_in_page</i></button>
             <button id="about" class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="save_as_svg" value=""><i class="material-icons">info</i></button>
             <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-ripple-effect" id="github" value=""><i class="material-icons">code</i></button>
         </div>


</div>

<div id="fade"></div>

<div class="mdl-grid">

  <!-- Concepts Selection -->
  <div class="mdl-cell mdl-cell--12-col" id="concept_panel" style="display:none; padding:20px">
      <div class="visual" id="concept_column">
             <button class="mdl-button mdl-button--icon mdl-button--colored mdl-js-ripple-effect" id="show_concept_panel" style="float:right;margin-right:50px" value="" onclick="show_concept_panel()"><i class="material-icons">close</i></button>
          <h2 class="mdl-card__title-text" style="padding-bottom:20px;">Cognitive Concept Highligher</h2>
          <div id="concepts"></div> <!--Concepts will be appended here-->
      </div>
  </div>

  <!-- About Concent -->
  <div class="mdl-cell mdl-cell--12-col" id="about_info" style="display:none; padding:20px">
      <h4>What am I looking at?</h4>
     You are looking at a cognitive concept tree that shows the relative contribution of different cognitive concepts for a single location in the brain, an x,y,z coordinate called a "voxel" to a model generated at the voxel. Each circle represents a single cognitive concept, <strong>colored</strong> to indicate its importance for the voxel's model (darker = more important, <span style="color:cornflowerblue">blue</span> = positive weight, <span style="color:orangered">red</span> = negative weight), and <strong>sized</strong> by the number of statistical brain maps with the label that contributed to the model result.<br>
     <h4>What do you mean "relative contribution?"</h4>
      We used a bunch a brain maps labeled with <a href="http://www.cognitiveatlas.org">cognitive concepts</a> to generate a sparse Logistic Regression model at each voxel (think an x,y,z coordinate in a 3D brain map), meaning that we found an optimal weighting of each cognitive concept to predict the voxel values across a large set of images. You are looking at the "relative contribution" (e.g., importance) of each concept for a particular voxel, represented by the weight (the beta or regression parameter) produced by the model. This importance is represented in color, and you will notice many faint or completely white nodes. Although these concepts exist, they were not relevant to the voxel's model. 
     <h4>What do these voxel-wise models do?</h4>
     Having a model at each voxel means that we can use cognitive concepts to predict brain maps, and predict cognitive concepts from a new brain map. The model is sparse because the algorithm sets the weights of as many of the regression parameters (one for each cognitive concept) to zero. Thus, although there are a total 132 cognitive concepts, you will only see a small number of strongly blue or red nodes.
     <h4>How do I find concepts?</h4>
     Use our Concept Explorer button in the top right to select concepts you are interested in, and they will be <span style="background-color:aqua">highlighted</span> in the tree.
     <h4>Why aren't all of the nodes labeled?</h4>
     Nodes with an importance value greater than a threshold of 0.5 and having more than 15 associated images are labeled automatically to not clutter the visualization. If you want more info on a node, simply mouse over it to see. If you want to view the concept in the Cognitive Atlas, simply click the node.
     <h4>How do I explore different regions?</h4>
     If you use the region selector in the bottom left, you will be taken to a random voxel within the region. Some regions are very large, meaning the model looks very different between voxels in the same region, and for this reason we encourage you to reload the same region multiple times to see the variance. Brain regions correspond to randomly selected MNI (x,y,z) coordinates from the <a href="http://www.gin.cnrs.fr/AAL2" target="_blank">AAL2</a> atlas <a href="https://nilearn.github.io/modules/generated/nilearn.image.resample_img.html" target="_blank">resampled</a> to 4mm with nearest interpolation. Data and labels were obtained courtesy of <a href="http://www.neurovault.org/images/14255/" target="_blank">NeuroVault</a>. Full script to generate coordinates <a href="https://github.com/vsoch/cogat_voxel/blob/master/script/generate_aal_lookup.py" target="_blank">is available</a>.

<!-- Twitter Share-->
<div style="padding-top:20px">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vsoch.github.io/cogat_voxel" data-text="Cognitive Atlas Decoding" data-via="vsoch" data-hashtags="d3">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

  </div>

  <!--Code content -->
  <div id="code_info" style="display:none;">

  <!-- Github -->
  <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Github</h2>
          </div>
          <div class="mdl-card__supporting-text">
              All code for this visualization is publicly available. 
          </div>
          <div class="mdl-card__actions mdl-card--border">
             <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://www.github.com/vsoch/cogatvoxel" target="_blank">
             View Code
             </a>
          </div>
      </div>
  </div>
  
  <!-- Docker -->
  <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Docker</h2>
          </div>
          <div class="mdl-card__supporting-text">
              You can run the entire app via a Docker container. 
          </div>
          <div class="mdl-card__actions mdl-card--border">
             <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://hub.docker.com/r/vanessa/cogatvoxeltree/" target="_blank">
             Docker Hub
           </a>
         </div>
      </div>
  </div>

<!-- Twitter Share-->
<div style="padding-top:20px; padding-left:15px">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vsoch.github.io/cogat_voxel" data-text="Cognitive Atlas Decoding" data-via="vsoch" data-hashtags="d3">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

</div>

  <!-- Voxel Selector -->
  <div class="mdl-cell mdl-cell--3-col visual" id="region_column">

          <span id="region_header">Choose a brain region</span>
          <select id="region_list" class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="region-menu">    
          {% for region in regions %}
              <option value="{{ region.name }}">{{ region.name }}</option>
          {% endfor %}
          </select>

  </div>

  <!-- Tree or Graph Selector -->
  <div class="mdl-cell mdl-cell--3-col visual" style="" id="mode_column">
      <form>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="mode" value="cluster">
              <span class="mdl-radio__label">Cluster</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="mode" value="tree" checked>
              <span class="mdl-radio__label">Tree</span>
          </label>
      </form>
  </div>


  <!-- Brain Image Viewer (not currently implemented) -->  
  <div class="mdl-cell mdl-cell--3-col visual" id="brain_column">
      <a href="#" id="neurovault" target="_blank">
          <img id="brainmap" href="#"/>
      </a><br>

      <div id="region_info" style="padding:20px; display:none">
          Brain regions correspond to MNI (x,y,z) coordinates from the <a href="http://www.gin.cnrs.fr/AAL2" target="_blank">AAL2</a> atlas <a href="https://nilearn.github.io/modules/generated/nilearn.image.resample_img.html" target="_blank">resampled</a> to 4mm with nearest interpolation. Coordinates represent the <a href="http://nilearn.github.io/modules/generated/nilearn.plotting.find_xyz_cut_coords.html" target="_blank">largest connected component</a>. Data and labels were obtained courtesy of <a href="http://www.neurovault.org/images/14255/" target="_blank">NeuroVault</a>. Full script to generate coordinates <a href="https://github.com/vsoch/cogat_voxel/blob/master/script/generate_aal_lookup.py" target="_blank">is available</a>.
      </div>

  </div>

</div>

<script>
var regparams = {{ regparams | safe }} //regparam lookup by concept
var data = {{ nodes | safe }}          //images tagged with relevant concepts
var counts = {{ counts | safe }}
var spatial = {{ spatial | safe }}     //spatial similarity matrix, as json
var colors = {{ colors | safe }}
var lookup = {{ lookup | safe }}

var width = {{ width }},
    height = {{ height }},
    padding = {{ padding }},    // separation between nodes
    maxRadius = {{ maxRadius }};

var n = {{ N }}, // total number of nodes (contrast images)
    m = {{ M }}; // number of distinct clusters (concepts)

// Linear color scale between blue and red
var color = d3.scale.linear()
    .domain([{{min_voxel}}, 0,{{max_voxel}}])
    .range(["cornflowerblue","white","orangered"]);


var x = d3.scale.linear()
    .domain([{{min}}-0.2,{{max}}+0.2])
    .range([0, width]);

// Node size will be based on number of images
var nodesize = d3.scale.linear()
    .domain([{{min_count}},{{max_count}}])
    .range([1, maxRadius]);

// Opacity and color of nodes based on regression parameter
var nodecolor = d3.scale.linear()
    .domain([{{min}}, 0,{{max}}])
    .range(["cornflowerblue","white","orangered"]);

var opacity = d3.scale.linear()
    .domain([{{min}}, 0,{{max}}])
    .range([1,0,1]);

var nodes = d3.range(n).map(function(idx) {
  node = data[idx];
  i = regparams[node.concept]
  return {
    radius: node.radius, // related to voxel value
    task: node.task,
    concept_id: node.concept,
    concept: node.concept_name,
    contrast: node.contrast,
    classes: node.classes,
    collection: node.collection,
    thumbnail: node.thumbnail,
    color: color(node.value),
    //color: colors[node.concept],
    uid: node.uid,
    x: x(i),
    y: height / 2
  };
});

var diameter = height / 2;
var duration = 2000;

// User can change the plot
d3.selectAll("input").on("change", change);

function change() {
    if (this.value === "cluster")
        transitionToCluster();
    else
        transitionToTree();
};

// Transition functions
function transitionToTree() {
    
    var nodes = tree.nodes(root), //recalculate layout
        links = tree.links(nodes);

    svg.transition().duration(duration)
        .attr("transform", "translate(40,0)");
        
    link.data(links)
        .transition()
        .duration(duration)
        .style("fill","white")
        .attr("d", diagonal); // get the new tree path

    node.data(nodes)
        .transition()
        .duration(duration)
        .attr("transform", function (d) {
            return "translate(" + d.x + "," + d.y + ")";
        });
    
    node.select("circle")
        .transition()
        .duration(duration)
        .style("stroke", "#377eb8");

};

function transitionToCluster() {
    
    var nodes = cluster.nodes(root), //recalculate layout
        links = cluster.links(nodes);
    
    svg.transition().duration(duration)
        .style("height",height-200)
        .style("width",width-100)
        .attr("transform", "translate(0,-100)");
  
    link.data(links)
        .transition()
        .duration(duration)
        .style("fill","none")
        .attr("d", diagonal); //get the new cluster path

    node.data(nodes)
        .transition()
        .duration(duration)
        .attr("transform", function (d) {
            return "translate(" + d.x + "," + d.y + ")";
        });
    
    node.select("circle")
        .transition()
        .duration(duration)
        .style("stroke", "#e41a1c");
    
};

// Tooltips
var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
return "<strong>concept:</strong><span style='color:tomato'> " + d.name + "</span><br><strong>weight:</strong><span style='color:yellow'> " + regparams[d.nid] + "</span><br><strong>number images:</strong><span style='color:orange'> " + counts[d.nid] + "</span><br><strong>id:</strong><span style='color:cornflowerblue'> " + d.nid + "</span>";
    })
    

var root;

// Comparator function to determine order of tree nodes
function comparator(a, b) {
  var regparamA = regparams[a.nid]
  var regparamB = regparams[b.nid]
  return d3.descending(regparamA, regparamB);
}

// Separation should be based on ontological similarity
function separation(a, b) {
  return a.parent == b.parent ? 1 : 2;
}

var tree = d3.layout.tree()
    .sort(comparator)
    .size([width,height]);


var cluster = d3.layout.cluster()
    .sort(comparator)
    .size([width,height]);

var diagonal = d3.svg.diagonal()
    .projection(function (d) {
    return [d.x, d.y];
});


var svg = d3.select("#voxel").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")

    var root = {{ tree | safe }},
        nodes = tree.nodes(root),
        links = tree.links(nodes);

    var link = svg.selectAll(".link")
        .data(links)
       .enter()
        .append("path")
        .attr("class", "link")
        .attr("stroke",function(d){
            return nodecolor(regparams[d.target.nid])
         })
        .style("fill","white")
        .attr("d", diagonal);

    var node = svg.selectAll(".node")
        .data(nodes)
       .enter()
        .append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
        return "translate(" + d.x + "," + d.y + ")";
    })

    node.append("svg:a")
         .attr("xlink:href", function(d){return "http://www.cognitiveatlas.org/term/id/" + d.nid;})
         .attr("target","_blank")
      .append("circle")
        .attr("r", function(d){
          var count = counts[d.nid]; 
          if (count != undefined){
              return nodesize(count); 
           } else {
              return 0
         }})
        .style("fill",function(d){
            return nodecolor(regparams[d.nid])
        })
        .style("stroke",function(d){
            return nodecolor(regparams[d.nid])
        })
        .style("opacity",function(d){
            return opacity(regparams[d.nid])
        })
       .on('mouseout.tip', tip.hide)
       .attr("class", function(d) { return d.nid })
       .on('mouseover.tip', tip.show)
       .on('mouseover.img',function(d){
          $("#brainmap").attr("src",d.thumbnail)
          $("#neurovault").attr("href","http://www.neurovault.org/images/" + d.uid)
        })
    

    // Add concept labels
    var labels = node.append("text")
        .attr("dx", function (d) { return d.children ? -8 : 8; })
        .attr("dy", 0)
        .style("font","14px sans-serif")
        .style("text-anchor", function (d) { return d.children ? "end" : "start"; })
        .html(function(d) { 
            // Only show label for larger nodes with regression parameter >= +/- 0.5
            if ((counts[d.nid]>=15) && (Math.abs(regparams[d.nid])>=0.5)) {
                return d.name
            }
         });
    

svg.call(tip);       

// Contrasts
$.each(colors, function(concept_id, color) {
   var concept_name = lookup[concept_id] 
     $("#concepts").append('<button name="'+ concept_id +'" class="concept_button mdl-button mdl-js-button mdl-js-ripple-effect">'+ concept_name +'</button>')
});

// Function to highlight contrasts on click
$(".concept_button").click(function() {
    var concept = $(this).attr("name");
    if ($("."+concept).hasClass("highlight")){
        $("."+concept).css("stroke-width",1)
        $("."+concept).css("fill",nodecolor(regparams[concept]))
        $("."+concept).css("stroke",nodecolor(regparams[concept]))
        $("."+concept).css("opacity",opacity(regparams[concept]))
        $("."+concept).removeClass("highlight")    
        $(this).css("background-color","white")
    } else {
        $("."+concept).css("stroke","aqua")
        $("."+concept).css("stroke-width",5)
        $("."+concept).css("fill","aqua")
        $("."+concept).css("opacity",1)
        $("."+concept).css("stroke-opacity",1)
        $("."+concept).addClass("highlight")
        $(this).css("background-color","aqua")
    }
});


//  BUTTONS !! //

//Vanessa's Hacky save svg function!
function save_svg(evt) {
    var svg = document.getElementsByTagName("svg");
    var serializer = new XMLSerializer();
    var svg_blob = new Blob([serializer.serializeToString(svg[0])],
                            {'type': "image/svg+xml"});
    var url = URL.createObjectURL(svg_blob);
    var svg_win = window.open(url, "svg_win");
}

// Select2 menu for the regions
$(document).ready(function(){
  $("#region_list").select2();
})

// Show about
$("#about").click(function(){
    $("#about_info").toggle();
    $(".visual").toggle();
})


// User should be able to click on info to keep showing
$("#region_header").click(function(){
    $("#region_info").toggle();
})

// Show links to code
$("#github").click(function(){
    $("#code_info").toggle();
    $(".visual").toggle();
})

// Show concept panel on click
function show_concept_panel(evt) {
    if ($("#concept_panel").attr("display")=="none"){
        $("#fade").toggle()
        $("#concept_panel").slideToggle("slow")
    } else {
        $("#concept_panel").toggle()
        $("#fade").toggle()    
    }
}

// On region selection, navigation to new page
$('#region_list').on("change", function(e) { 
   var selection = $("#region_list option:selected").attr("value")
   document.location = "/region/" + selection
});
</script>
</body>
